<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap 实例</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
  <body>
    <a style="padding-left: 0;outline:none;" href="#" class="col-md-1" onclick="openWin()">a</a>
  <p>单击按钮触发函数。</p>
    <a style="padding-left: 0;outline:none;" href="#" class="col-md-1" onclick="myFunction()">点我</a>
<p id="demo"></p>

  <a style="padding-left: 0;outline:none;" href="#" class="col-md-1" onclick="openWin()">hh</a>

  </body>

<script type="text/javascript">



</script>
</html>