{% extends "base.html" %}

{% block title %}
    服务器管理-Swallow
{% endblock %}
{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <p class="text-info">总共有{{ server_num }}台服务器,{{ virtual_num }}台虚拟机</p>
        <div class="row">
            <div class="col-md-7" style="bottom: 0.4rem;">
                <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    分类 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">功能</a></li>
                    <li><a href="#">另一个功能</a></li>
                    <li><a href="#">其他</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                </ul>
            </div>
            </div>
            <div class="col-md-3" style="bottom: 0.4rem;">
                <form class="form-inline" method="get" action="{% url 'server_search' %}">
                    <input class="form-control mr-sm-1 " type="search" name="q" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Search</button>
                    {% csrf_token %}
                </form>

            </div>
            <div class="col-md-1" >
            <button type="button" class="btn btn-success btn-sm "><a href="{% url 'output_excel' %}">导出Excel</a></button>
            </div>
            <div class="col-md-1">
            <button type="button" class="btn btn-success btn-sm" style="margin-left: -37%"><a href="{% url 'server_add' %}">添加主机</a></button>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-bordered table-striped" >
                <thead>
                <tr>
                    <th>资产编号</th>
                    <th>管理IP</th>
                    <th>资产类型</th>
                    <th>IDC机房</th>
                    <th>系统类型</th>
                    <th>配置</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>


                {% for host in host %}
                    <tr>
                        <td>{{ host.name }}</td>
                        <td>{{ host.ip_managemant }}</td>
                        <td>{{ host.asset_type }}</td>
                        <td>{{ host.idc }}</td>
                        <td>{{ host.os_type }} {{ host.os_release }}</td>
                        <td>{{ host.cpu_physics_count }}*{{ host.cpu_core_count }} | {{ host.mem_capacity }}G
                            | {{ host.disk_capacity }}GB
                        </td>
                        <td id={{ host.id }}>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-info"><a href="/server_detail/{{ host.id }}">详情</a>
                                </button>
                                <button type="button" class="btn btn-primary"><a
                                        href="/server_edit/{{ host.id }}/">修改</a></button>
                                <button type="button" class="btn btn-warning">更新</button>
                                <button type="button"
                                        class="btn btn-danger delbutton"
{#                                        data-toggle="modal" data-target="#delServer"#}
                                         data-id="{{ host.id }}">删除
                                </button>

                                <!-- 删除Modal -->
{#                                <div class="modal fade" id="delServer" tabindex="-1" role="dialog"#}
{#                                     aria-labelledby="delServerLabel" aria-hidden="true">#}
{#                                    <div class="modal-dialog modal-dialog-centered" role="document">#}
{#                                        <div class="modal-content">#}
{#                                            <div class="modal-header">#}
{#                                                <h5 class="modal-title" id="delServerLabel">删除服务器</h5>#}
{#                                                <button type="button" class="close" data-dismiss="modal"#}
{#                                                        aria-label="Close">#}
{#                                                    <span aria-hidden="true">&times;</span>#}
{#                                                </button>#}
{#                                            </div>#}
{#                                            <div class="modal-body">#}
{#                                                删除此服务器之后，后台将不再保存此服务器信息！#}
{#                                            </div>#}
{#                                            <div class="modal-footer">#}
{#                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">#}
{#                                                    取消#}
{#                                                </button>#}
{#                                                <button type="button"#}
{#                                                        id="confdelserver"#}
{#                                                        class="btn btn-primary ">确定#}
{#                                                </button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}


                            </div>


                        </td>
                    </tr>
                {% empty %}
                    {{ blank_msg }}
                {% endfor %}
                </tbody>

            </table>
            {% if error_msg %}
                {{ error_msg }}
            {% endif %}


    </div>

    </main>


{% endblock %}


{% block customer_js %}


    <script type="text/javascript">

        $('.delbutton').click(function () {
            var hostid = $(this).attr('data-id');
            console.log(hostid);

            $.ajax({
                type: "GET",
                url: "/server_del/",
                data: {
                    'hostid': hostid
                },
                dataType: 'JSON',
                success: function (arg) {
                    if (arg.code == 200) {
                        window.location.reload();
                        alert(arg.message);

                    }
                    else {
                        alert(arg.message)
                    }
                }

            });

        })
    </script>

{% endblock %}

