
{% extends "simple_base.html" %}
{% block title %} 增加机房 {% endblock %}
{% block body %}
<h5 class="col-md-2 col-md-offset-1 mb-3 text-success">增加机房</h5>

<form class="needs-validation" novalidate method="POST" action="{% url 'idc_add' %}">

    <div class="col-md-2 col-md-offset-1" style="width:50%">
    <p>机房名称: {{ idc_form.name }} {{ idc_form.name.errors }} </p>
    <p>机房地址：{{ idc_form.address }} {{ idc_form.address.errors }} </p>
    <p>机房区域：{{ idc_form.area }} {{ idc_form.area.errors }} </p>

        <button class="btn btn-primary" type="submit">保存</button>
    </div>

    {% csrf_token %}
</form>


{% endblock %}


