
{% extends "simple_base.html" %}
{% block title %} 增加制造商 {% endblock %}
{% block body %}
<h5 class="col-md-2 col-md-offset-1 mb-3 text-success">增加制造商</h5>

<form class="needs-validation" novalidate method="POST" action="{% url 'manufactory_add' %}">

    <div class="col-md-2 col-md-offset-1" style="width:50%">
    <p>厂商名称: {{ manufactory_form.name }} {{ manufactory_form.name.errors }} </p>
    <p>支持电话：{{ manufactory_form.tel_num }} {{ manufactory_form.tel_num.errors }} </p>

        <button class="btn btn-primary" type="submit">保存</button>
    </div>

    {% csrf_token %}
</form>


{% endblock %}


