{% extends "base.html" %} {% block title %} 服务器修改-Swallow {% endblock %} {% block content %}

<main role="main" class="col-md-6 ml-sm-auto col-lg-4 pt-3 px-4">

  <h5 class="mb-3 text-success">修改主机</h5>

  <form class="needs-validation" novalidate method="POST" action="/server_edit/{{ nid }}/">
    {{ form.as_p }}
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">确认提交</button>
      {% csrf_token %}

  </form>

</main>
<div class="col-md-4 col-lg-6"></div>
{% endblock %}