{% extends "base.html" %} {% block title %} 增加服务器-Swallow {% endblock %} {% block content %}

<main role="main" class="col-md-6 ml-sm-auto col-lg-4 pt-3 px-4">

  <h5 class="mb-3 text-success">增加主机</h5>

  <form class="needs-validation" novalidate method="POST" action="{% url 'server_add' %}">

      <p>管理IP:</p>
      <div class="row">
          <p class="col-md-11">{{ form.ip_managemant }} </p>
          <p class="col-md-1" style="display:flex;justify-content:center;align-items:center;color: red"> * </p>
      </div>
      <p>{{ form.ip_managemant.errors }}</p>

      <p>其他IP地址1: {{ form.ip_other1 }} {{ form.ip_other1.errors }}</p>

      <p>其他IP地址2: {{ form.ip_other2 }} {{ form.ip_other2.errors }}</p>

      <p>系统类型: {{ form.os_type }} {{ form.os_type.errors }} </p>

      <p>操作系统版本: {{ form.os_release }} {{ form.os_release.errors }}</p>

      <p>物理CPU个数: {{ form.cpu_physics_count }} {{ form.cpu_physics_count.errors }}</p>

      <p>CPU核数: {{ form.cpu_core_count }} {{ form.cpu_core_count.errors }}</p>

      <p>逻辑CPU个数: {{ form.cpu_logic_count }} {{ form.cpu_logic_count.errors }}</p>

      <p>内存大小(GB): {{ form.mem_capacity }} {{ form.mem_capacity.errors }}</p>

      <p>磁盘容量(GB): {{ form.disk_capacity }} {{ form.disk_capacity.errors }}</p>

      <p>Raid类型: {{ form.raid_type }} {{ form.raid_type.errors }}</p>

      <p>MAC地址: {{ form.mac_address }} {{ form.mac_address.errors }}</p>

      <p>资产编号:</p>
      <div class="row">
          <p class="col-md-11">{{ form.name }} </p>
          <p class="col-md-1" style="display:flex;justify-content:center;align-items:center;color: red"> * </p>
      </div>
      <p>{{ form.name.errors }}</p>

      <p>序列号SN: {{ form.sn }} {{ form.sn.errors }}</p>

      <p>资产类型:</p>
      <div class="row">
          <p class="col-md-11">{{ form.asset_type }}</p>
          <p class="col-md-1" style="display:flex;justify-content:center;align-items:center;color: red"> * </p>
      </div>
      <p>{{ form.asset_type.errors }}</p>

      <p>设备型号: {{ form.model }} {{ form.model.errors }}</p>

      <p style="margin: 0">制造商: </p>
          <div class="row">
              <p class="col-md-11">{{ form.manufactory }}</p>
                <a style="padding-left: 0;outline:none;" href="#" class="col-md-1" onclick="openmanu()">
                  <span style="vertical-align: -50%; " class="fa fa-plus fa-lg " aria-hidden="true" ></span>
                </a>
          </div>
      <p>{{ form.manufactory.errors }}</p>


      <p style="margin: 0">供应商: </p>
      <div class="row">
          <p class="col-md-11">{{ form.supplier }}</p>

            <a style="padding-left: 0;outline:none;" href="#" class="col-md-1" onclick="opensupp()">

              <span style="vertical-align: -50%; " class="fa fa-plus fa-lg" aria-hidden="true"></span>
            </a>
      </div>
      {{ form.supplier.errors }}

      <p>购买日期: {{ form.trade_date }} {{ form.trade_date.errors }}</p>

      <p>过保日期: {{ form.expire_date }} {{ form.expire_date.errors }}</p>

      <p style="margin: 0">IDC机房:</p>
      <div class="row">
          <p class="col-md-10">{{ form.idc }}</p>

          <a style="padding-left: 0;outline:none;" href="#" class="col-md-1" onclick="openidc()">

              <span style="vertical-align: -50%; " class="fa fa-plus fa-lg" aria-hidden="true"></span>
          </a>
          <p class="col-md-1" style="display:flex;justify-content:center;align-items:center;color: red"> * </p>
      </div>
      <p>{{ form.idc.errors }}</p>

{#      <p>IDC机房:</p>#}
{#      <div class="row">#}
{#          <p class="col-md-11">{{ form.idc }}</p>#}
{#          <p class="col-md-1" style="display:flex;justify-content:center;align-items:center;color: red"> * </p>#}
{#      </div>#}
{#      <p>{{ form.idc.errors }}</p>#}

      <p>机柜: {{ form.cabinet }} {{ form.cabinet.errors }}</p>

      <p>U位: {{ form.cabinet_uid }} {{ form.cabinet_uid.errors }}</p>

      <p>备注: {{ form.memo }} {{ form.memo.errors }}</p>

    <hr class="mb-4">
      <div class="row">
          <div class="col-md-7"></div>
          <button class="btn btn-secondary col-md-2"><a href="{% url "asset_server" %}">取消</a></button>
          <div class="col-md-1"></div>
          <button class="btn btn-primary col-md-2" type="submit">确认提交</button>
      </div>
      {% csrf_token %}

  </form>

</main>
<div class="col-md-4 col-lg-6"></div>
{% endblock %}

{% block customer_js %}
<script type="text/javascript">

function openmanu() {

    window.open('manufactory_add', 'newwindow', 'height=300, width=500, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')
}

function opensupp() {

    window.open('supplier_add', 'newwindow', 'height=300, width=500, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')
}

function openidc() {

    window.open('idc_add', 'newwindow', 'height=300, width=500, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')
}


</script>
{% endblock %}